.container{
    margin-bottom: 100px;
    
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding:30px 50px;
    height: 480px;
    
}
.price{
    color: #ff136f;;
}
.button-buy-now{
    background-image:linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    border: none;
    color: #fff;
    border-radius:8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    border-radius: 10px;
}
.cat1{
    background-color:orange ;
    box-shadow: 3px 3px 10px purple;
}
.cat2{
    background-color: #ff136f;
    box-shadow: 3px 3px 10px skyblue;
}
.cat3{
    background-color: blueviolet;
    box-shadow: 3px 3px 10px rgb(3, 20, 27);
}
.categories h1{
color: #fff;
}
.categories img{
    height: 105px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow:5px 5px 10px rgb(11, 83, 83)
}
.card-footer{
    background-color: white;
    border-top: none;
}
.contact{
    height: 300px;
}
.contact h6,footer{
    color: gray;
}